.progress {
  margin-top: 20px;

  &-content {
    height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;

    h2 {
      font-size: 20vh;
    }

    p {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      font-size: 5vh;
      color: green;
    }
  }
}